<a href="https://colab.research.google.com/github/Neysi99/Practica01-Mineria-ISW911/blob/main/practica01_NeysiNavarroGonzalez.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Encuesta Aeropuerto-colabs

In [ ]:
# librerias
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [ ]:
# Cargar datos
filename = 'https://raw.githubusercontent.com/utn-frocha/datos/main/encuesta_aeropuerto.csv'
datos = pd.read_csv(filename, header=0)
print(datos.shape)

(129880, 24)

In [ ]:
# Convertir a dataframe
datos=pd.DataFrame(datos)

Detección de Variables

In [ ]:
#Explorando la estructura del dataframe
datos.info()

In [ ]:
# 1.Cuál es la cantidad de Hombre y Mujeres del conjunto de datos

counts = datos["Gender"].value_counts()

print("Cantidad de hombres:", counts["Male"])
print("Cantidad de mujeres:", counts["Female"])

Cantidad de hombres: 63981
Cantidad de mujeres: 65899

In [ ]:
# 2.Cual es la edad promedio del conjunto de datos

promedio_edad=round(datos['Age'].mean())
print(f'La edad promedio es de {promedio_edad}')

La edad promedio es de 39

In [ ]:
# 3.Cuál es la edad promedio de hombres y mujeres

edad_promedio_por_genero = round(datos.groupby("Gender")["Age"].mean())

print("Edad promedio de hombres:", edad_promedio_por_genero["Male"])
print("Edad promedio de mujeres:", edad_promedio_por_genero["Female"])

Edad promedio de hombres: 40.0
Edad promedio de mujeres: 39.0

In [ ]:
# 4.Cuál es la distancia mínima y máxima agrupado por “Customer Type”

distancia_por_tipo_cliente = datos.groupby("Customer Type")["Flight Distance"].agg(["min", "max"])

print("Distancia mínima por tipo de cliente:")
print(distancia_por_tipo_cliente["min"])
print("\nDistancia máxima por tipo de cliente:")
print(distancia_por_tipo_cliente["max"])

Distancia mínima por tipo de cliente:
Customer Type
Loyal Customer       31
disloyal Customer    31
Name: min, dtype: int64

Distancia máxima por tipo de cliente:
Customer Type
Loyal Customer       4983
disloyal Customer    4963
Name: max, dtype: int64

In [ ]:
# 5.Cual es la mediana de distancia de vuelo por “Type of Travel”

mediana_distancia_por_tipo_viaje = datos.groupby("Type of Travel")["Flight Distance"].median()

print("La mediana de distancia de vuelo por tipo de viaje:")
print(mediana_distancia_por_tipo_viaje)

La mediana de distancia de vuelo por tipo de viaje:
Type of Travel
Business travel    985.0
Personal Travel    628.0
Name: Flight Distance, dtype: float64

In [ ]:
# 6.Cual es la cantidad de hombres y mujeres por “satisfaction”

cantidad_satisfaccion_y_genero = datos.groupby(["satisfaction", "Gender"]).size()

print("Cantidad de hombres y mujeres por satisfacción:")
print(cantidad_satisfaccion_y_genero)

Cantidad de hombres y mujeres por satisfacción:
satisfaction             Gender
neutral or dissatisfied  Female    37630
                         Male      35822
satisfied                Female    28269
                         Male      28159
dtype: int64

In [ ]:
# 7.Cuantas personas del  Type of Travel  = “Business” le dieron una calificación de 5 al “Inflight wifi service”

filtro = (datos["Type of Travel"] == "Business travel") & (datos["Inflight wifi service"] == 5)

satisfechos = datos.loc[filtro]["satisfaction"].value_counts()["satisfied"]

print("Número de personas del Type of Travel = Business que dieron una calificación de 5 al Inflight wifi service y están satisfechas:")
print(satisfechos)

Número de personas del Type of Travel = Business que dieron una calificación de 5 al Inflight wifi service y están satisfechas:
12593

In [ ]:
# 8.Cual es la cantidad de personas por “Class”

cantidad_por_clase = datos["Class"].value_counts()

print("Cantidad de personas por clase:")
print(cantidad_por_clase)

Cantidad de personas por clase:
Business    62160
Eco         58309
Eco Plus     9411
Name: Class, dtype: int64

In [ ]:
# 9.Cuál es el porcentaje de hombres y mujeres que usan en clase “Eco Plus”

filtro = datos["Class"] == "Eco Plus"
ecoplus_dt = datos.loc[filtro]


total_ecoplus = len(ecoplus_dt)
hombres_ecoplus = len(ecoplus_dt.loc[ecoplus_dt["Gender"] == "Male"])
mujeres_ecoplus = len(ecoplus_dt.loc[ecoplus_dt["Gender"] == "Female"])
porcentaje_hombres_ecoplus = (hombres_ecoplus / total_ecoplus) * 100
porcentaje_mujeres_ecoplus = (mujeres_ecoplus / total_ecoplus) * 100

print("Porcentaje de hombres en la clase Eco Plus:")
print(porcentaje_hombres_ecoplus)
print("Porcentaje de mujeres en la clase Eco Plus:")
print(porcentaje_mujeres_ecoplus)

Porcentaje de hombres en la clase Eco Plus:
47.231962596961004
Porcentaje de mujeres en la clase Eco Plus:
52.76803740303899

In [ ]:
# 10.Cuál es el porcentaje de hombres y mujeres que le dan una clasificación de 5 a “Food and drink”

filtro = datos["Food and drink"] == 5
calif_5_dt = datos.loc[filtro]

total_calif_5 = len(calif_5_dt)
hombres_calif_5 = len(calif_5_dt.loc[calif_5_dt["Gender"] == "Male"])
mujeres_calif_5 = len(calif_5_dt.loc[calif_5_dt["Gender"] == "Female"])
porcentaje_hombres_calif_5 = (hombres_calif_5 / total_calif_5) * 100
porcentaje_mujeres_calif_5 = (mujeres_calif_5 / total_calif_5) * 100

print("Porcentaje de hombres que le dieron una calificación de 5 a Food and drink:")
print(porcentaje_hombres_calif_5)
print("Porcentaje de mujeres que le dieron una calificación de 5 a Food and drink:")
print(porcentaje_mujeres_calif_5)

In [ ]:
# 11.Cual es el promedio de edad de los pasajeros que le dan una clasificación entre 4 y 5 a “Inflight wifi service”

filtro = (datos["Inflight wifi service"] >= 4) & (datos["Inflight wifi service"] <= 5)
wifi_service = datos.loc[filtro]

promedio_edad = wifi_service["Age"].mean()

print("El promedio de edad de los pasajeros que le dieron una calificación entre 4 y 5 a Inflight wifi service es:")
print(promedio_edad)

El promedio de edad de los pasajeros que le dieron una calificación entre 4 y 5 a Inflight wifi service es:
39.845007794331856

# Trabajo de Investigación

HIPÓTESIS NULA

Una hipótesis nula es una suposición que se utiliza para negar o afirmar un suceso en relación a algún o algunos parámetros de una población o muestra. La afirmación de la hipótesis nula no se puede rechazar a no ser que los datos de la muestra parezcan demostrar que ésta es falsa.

HIPÓTESIS ALTERNATIVA

La hipótesis alternativa es una conjetura que intenta demostrar la falsedad de la hipótesis nula, formulada en una investigación y/o un experimento siendo la hipótesis o la conclusión que el investigador quiere demostrar como verdadera

EJEMPLOS:

1.Si estudiamos como hipótesis alternativa que la estatura media de la población de un pueblo de 20.000 habitantes es de 1,70 y tomamos como muestra a 50 habitantes, ha hipótesis nula sería la contraria: que la estatura media no es de 1.70; si de esos cincuenta habitantes la estatura media es de 1.70 rechazamos la hipótesis nula y aceptaremos la alternativa.

2.Vamos a suponer que has realizado un estudio sobre el sueldo medio mensual en un barrio de la ciudad. Imaginémonos que de la población de ese barrio te tomaste el trabajo de encuestar a 1.000 personas, llegando a la conclusión de que el sueldo medio mensual por habitante es de 25.000 unidades monetarias.

Por lo tanto, vos como investigador querés contrastar si ese sueldo medio mensual es igual a 25.000 u.m. Esta sería la conclusión de tu estudio y, por ende, también la hipótesis alternativa. Si por el contrario el sueldo medio mensual es distinto a 25.000 u.m., esto sería una conclusión contraria a la del estudio que se busca negar y, por ende, es una hipótesis nula